<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Meus Pedidos - Café Sereno</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <link rel="stylesheet"
          href="../../static/css/style.css">

</head>


<body>


<header>

    <nav class="navbar navbar-expand-lg">

        <div class="container">

            <a class="navbar-brand"
               href="../index.html">

                Café Sereno

            </a>


            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#menu">

                <span class="navbar-toggler-icon"></span>

            </button>


            <div class="collapse navbar-collapse"
                 id="menu">

                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">

                        <a class="nav-link"
                           href="../index.html">

                            Início

                        </a>

                    </li>


                    <li class="nav-item">

                        <a class="nav-link"
                           href="cardapio.html">

                            Cardápio

                        </a>

                    </li>


                    <li class="nav-item">

                        <a class="nav-link active"
                           href="pedidos.html">

                            Pedidos

                            <span id="contadorCarrinho" class="badge bg-danger">
                                0
                            </span>

                        </a>

                    </li>
                       <li class="nav-item">

                        <a class="nav-link"
                           href="../admin/administrativa.html">

                            Login

                        </a>

                    </li>


                  
                </ul>

            </div>

        </div>

    </nav>

</header>



<main>

    <section class="container py-5">

        <div class="text-center mb-5">

            <h1>
                Meu Pedido
            </h1>

            <p>
                Confira os produtos escolhidos.
            </p>

        </div>


       

        <div id="listaPedidos">

        </div>


      
        <div class="card mt-4 shadow-sm">

            <div class="card-body">

                <div class="d-flex justify-content-between">

                    <h4>
                        Total:
                    </h4>

                    <h4 id="totalPedido">
                        R$ 0,00
                    </h4>

                </div>


                <button class="btn btn-danger mt-3"
                        onclick="limparCarrinho()">

                    Limpar Carrinho

                </button>


                <button class="btn btn-success mt-3"
                        onclick="finalizarPedido()">

                    Finalizar Pedido

                </button>

            </div>

        </div>


       

        <div class="text-center mt-4">

            <a href="cardapio.html"
               class="btn btn-dark">

                Voltar ao Cardápio

            </a>

        </div>

    </section>

</main>



<footer>

    <p>
        © 2026 Café Sereno - Todos os direitos reservados.
    </p>

</footer>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>


<script src="/static/js/carrinho.js"></script>

</body>

</html>
