<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Café & Aroma</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

  
    <header class="header">
        <div class="container">
            <h1>Café & Aroma</h1>
            <p>Um sabor especial em cada momento</p>
        </div>
    </header>

   
    <nav class="menu">
        <a href="inicio.html">Início</a>
        <a href="cardapio.html">Cardápio</a>
        <a href="pedidos.html">Pedidos</a>
        <a href="login.html">Login</a>
    </nav>

 
    <main>
        <section class="inicio">
            <div class="container">
                <h2>Bem-vindo ao Café & Aroma!</h2>
                <p>Descubra nossos deliciosos cafés, bebidas e sobremesas.</p>

                <div class="botoes">
                    <a href="/templates/inicio.html" class="botao">Conheça nossa cafeteria</a>
                    <a href="/templates/cardapio.html" class="botao">Ver Cardápio</a>
                    <a href="/templates/pedidos.html" class="botao">Fazer Pedido</a>
                    <a href="/templates/login.html" class="botao">Login</a>
                </div>
            </div>
        </section>
    </main>

    
    <footer>
        <p>© 2026 Café & Aroma</p>
    </footer>

</body>

</html>